html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.8rem;
  /* overflow-x: hidden; */
}
.home--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #35424a;
  border-bottom: 5px solid #7d486f;
  color: white;
  height: 20%;
  position: relative;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 8vh;
}
.home--header__h1 {
  padding-left: 10px;
}
.home--header__ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin-right: 2rem;
}
a {
  color: #fff;
  text-decoration: none;
}
a:active {
  color: #7d486f;
}
.home--main__img {
  background: url(./assets/showcase.jpg);
  background-position: center;
  color: #fff;
  height: 45vh;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img--p {
  font-size: 1.5rem;
}
.home--main__mail {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #35424a;
  color: #fff;
  height: 10vh;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 8.5vh;
}
.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 34rem;
}
.mail--input {
  outline: none;
  width: 20rem;
  height: 2rem;
}
.mail--button {
  background-color: #e8491d;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 8rem;
  height: 2.3rem;
  margin-left: 0.3rem;
}
.home--main__logos {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  text-align: center;
  width: 100vw;
  height: 45vh;
  padding-top: -40px;
}
.logos--html,
.logos--css,
.logos--brush {
  width: 32vw;
  margin: auto;
  margin-top: 20px;
}
.logos--img {
  width: 20%;
}
.logos--img__css {
  width: 17%;
}
.logos--h4 {
  font-weight: 800;
}
.home--footer {
  position: relative;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 10vh;
  background-color: #35424a;
  color: #fff;
  text-align: center;
}
.home--footer__img {
  margin-top: -30px;
}
.about {
  display: flex;
  flex-direction: row;
  height: 75vh;
  background-color: #f4f4f4;
  padding-top: 20vh;
}
.about--mainleft {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-left: 2vw;
}
.about--mainleft__pdark {
  background-color: #35424a;
  color: #fff;
  padding: 1rem;
}
.about--mainright {
  width: 30vw;
  margin: 2rem 2rem 0 5rem;
  background-color: #35424a;
  color: #fff;
  height: 20vh;
  padding: 1rem;
}

.services {
  display: flex;
  flex-direction: row;
  height: 75vh;
  background-color: #f4f4f4;
}
.services--mainleft {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin-left: 2vw;
}
.services--mainleft__col {
  background-color: #e6e6e6;
  border: 1px solid #d3d3d3;
  margin-bottom: 0.3rem;
  padding: 0px 1rem;
}
.services--mainright {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 2rem 2rem 0 5rem;
  background-color: #35424a;
  color: #fff;
  height: 30vh;
  padding: 1rem;
}
.services--mainright__input {
  width: 90%;
  height: 1.5rem;
}
.message {
  height: 2.5rem;
}
.services--mainright__button {
  width: 15%;
  height: 2.5rem;
  border-radius: 0px;
  background-color: #e8491d;
  color: #fff;
  border: none;
  margin-top: 0.5rem;
  cursor: pointer;
}
